.body{
    background-color: aqua;
}
.side-menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;

}
.navbar{
    position: fixed;
}

h2{
    color:  red;
}

p{
    color:black;
    margin-left: 15%;
}

footer{
    text-align: center;
}

.margin{
margin-left: 0.25%;

}

table.table-back{
    max-width: 50%;
    max-height: 50px;
    overflow-y: scroll;
}