{% extends "layout_dashboard.html" %}

{% block title %}Add Customer{% endblock %}

{% block content %}
<h1 class="title">Add a New Customer</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% if messages[0][0] == "success" %}
<ul class="flashes notification is-success is-light has-text-centered">
 {% else %}
<ul class="flashes notification is-danger is-light has-text-centered">   
{% endif %}   
{% for category, message in messages %}
<li class="subtitle is-5">{{ message }}</li>
<br />
{% endfor %}
</ul>
{% endif %}
{% endwith %}     
<form action="" method="post" name="add_customer">
  <div class="field">
    <label for="full_name" class="label">Full Name</label>
    <div class="control">
      <input type="text" name="full_name" class="input" required="required"/>
    </div>
  </div>
  <div class="field">
    <label for="full_name" class="label">Customer E-mail</label>
    <div class="control">
      <input type="email" name="cus_email" class="input" required="required"/>
    </div>
  </div>
  <div class="field">
    <label for="full_name" class="label">Customer Password</label>
    <div class="control">
      <input type="password" name="cus_pass" class="input" required="required"/>
    </div>
  </div>
  <div class="field">
    <label for="full_name" class="label">Confirm Password</label>
    <div class="control">
      <input type="password" name="conf_cus_pass" class="input" required="required"/>
    </div>
  </div>
<div class="columns">
  <div class="column">
  <div class="field">
    <label for="oiled" class="label">Oiled (KG)</label>
    <div class="control">
      <input type="number" name="oiled_kg" class="input" value="0" min="0" max="100000"/>
    </div>
  </div>
  <div class="field">
    <label for="oiled" class="label">Light (KG)</label>
    <div class="control">
      <input type="number" name="light_kg" class="input" value="0" min="0" max="100000"/>
    </div>
  </div>
  <div class="field">
    <label for="oiled" class="label">Edged (KG)</label>
    <div class="control">
      <input type="number" name="edged_kg" class="input" value="0" min="0" max="100000"/>
    </div>
  </div>
  <div class="field">
    <label for="oiled" class="label">Dark (KG)</label>
    <div class="control">
      <input type="number" name="dark_kg" class="input" value="0" min="0" max="100000"/>
    </div>
  </div>
  </div>
  <div class="column">
    <div class="field">
      <label for="oiled" class="label">Oiled (Yield)</label>
      <div class="control">
        <input type="number" name="oiled_yield" class="input" value="50" min="0" max="100000"/>
      </div>
    </div>
    <div class="field">
      <label for="oiled" class="label">Light (Yield)</label>
      <div class="control">
        <input type="number" name="light_yield" class="input"  value="50" min="0" max="100000"/>
      </div>
    </div>
    <div class="field">
      <label for="oiled" class="label">Edged (Yield)</label>
      <div class="control">
        <input type="number" name="edged_yield" class="input" value="50" min="0" max="100000"/>
      </div>
    </div>
    <div class="field">
      <label for="oiled" class="label">Dark (Yield)</label>
      <div class="control">
        <input type="number" name="dark_yield" class="input" value="50" min="0" max="100000"/>
      </div>
    </div>
    </div>
</div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary is-medium">Add Customer</button>
    </div>
  </div>
</form>

{% endblock %}