{% extends "layout_dashboard.html" %}

{% block title %}Add Customer{% endblock %}

{% block side_menu %}
<aside>
    {% if user_type == 'branch' %}
  <p class="menu-label"> Test </p>
  <ul class="menu-list">
    <li><a href="{{ url_for('dashboard_page', user_name = user_name, user_type = user_type) }}">Dashboard</a> </li>
    <li><a href="{{ url_for('add_customer',user_type = user_type,user_name = user_name) }}">Add Customer</a> </li>
    <li><a href="{{ url_for('find_customer',user_type = user_type,user_name = user_name) }}">Find Customer</a> </li>
    <li><a href="{{ url_for('set_prices',user_type = user_type,user_name = user_name) }}">Set Hazelnut Prices</a> </li>
    <li><a href="{{ url_for('set_prices',user_type = user_type,user_name = user_name) }}">See Reports (Do not designed yet)</a> </li>
  </ul>
</aside>
{% elif user_type == 'customer' %}
<p class="menu-label"> BETA </p>
<ul class="menu-list">
    <li><a href="{{ url_for('dashboard_page',user_type = user_type,user_name = user_name) }}">Dashboard</a> </li>
</ul>
</aside>
{% else %}
<p class="menu-label"> Test </p>
<ul class="menu-list">
    <li><a href="{{ url_for('dashboard_page',user_type = user_type,user_name = user_name) }}">Dashboard</a> </li>
    <li><a href="{{ url_for('dashboard_page',user_type = user_type,user_name = user_name) }}">Add Branch (DNDY)</a> </li>
    <li><a href="{{ url_for('dashboard_page',user_type = user_type,user_name = user_name) }}">Find Branch (DNDY)</a> </li>
    <li><a href="{{ url_for('set_prices',user_type = user_type,user_name = user_name) }}">Set Hazelnut Prices</a> </li>
    <li><a href="{{ url_for('dashboard_page',user_type = user_type,user_name = user_name) }}">See Reports (DNDY)</a> </li>
</ul>
</aside>
{% endif %}
{% endblock %}

{% block content %}
<h1 class="title">Change Your Password</h1>
<div class="columns">
<div class="column">
<form action="" method="post" name="change_password">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% if messages[0][0] == "success" %}
  <ul class="flashes notification is-success is-light has-text-centered">
   {% else %}
  <ul class="flashes notification is-danger is-light has-text-centered">   
  {% endif %}   
  {% for category, message in messages %}
  <li class="subtitle is-5">{{ message }}</li>
  <br />
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}  
  <div class="field">
    <label for="current_password" class="label">Current Password</label>
    <div class="control">
      <input type="password" name="current_pass" class="input" required="required"/>
    </div>
  </div>
  <div class="field">
    <label for="new_password" class="label">New Password</label>
    <div class="control">
      <input type="password" name="new_pass" class="input" required="required"/>
    </div>
  </div>
  <div class="field">
    <label for="confirm_password" class="label">Confirm New Password</label>
    <div class="control">
      <input type="password" name="confirm_pass" class="input" required="required"/>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary is-medium">Change Password</button>
    </div>
  </div>
</form>
</div>
<div class="column"></div>
</div>
{% endblock %}